force-app/main/default/flows/Create_New_BOM_Configuration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Detail_Page</name>
        <label>Navigate to Detail Page</label>
        <locationX>176</locationX>
        <locationY>2486</locationY>
        <actionName>FRGPLM:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Bm_Association_to_Bm_Config</name>
        <label>Assign Bm Association to Bm Config</label>
        <locationX>264</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>BomConfiguration4.Bom_Part_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Association_List.BOMc__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration4.Bom_Part_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Association_List.BOMc__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration4.Bom_Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Association_List.BOMc__r.BOM_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration4.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Association_List.BOMc__r.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration4.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Association_List.BOMp__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration4.BOM_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration4.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bom</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Config_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bom_Part_Data_to_Bm_Config</name>
        <label>Assign bom Part Data to Bm Config</label>
        <locationX>264</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Bom_Part_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.Part__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Bom_Part_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.Part__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Bom_Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.Part__r.Part_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Parent_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.BOM__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.BOM_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Part</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Proposed_Part__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.Revised_Part__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Proposed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.Revised_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BomConfiguration2.Part_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom_Part_data.Part__r.Description__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bom_Part_data_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bom_To_Bom_Configuration</name>
        <label>Assign Bom To Bom Configuration</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ListOfBomConfiguration.Bom_Part_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfBomConfiguration.Bom_Part_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfBomConfiguration.Bom_Part_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom.BOM_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfBomConfiguration.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Bom.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfBomConfiguration.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfBomConfiguration.BOM_Configuration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Final_List_of_Bom_Configuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_List_of_Bom_Configuration</name>
        <label>Assign Final List of Bom Configuration</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>FinalListOfBomConfiguration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListOfBomConfiguration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Bom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Bom_Part_data_list</name>
        <label>Bom Part data list</label>
        <locationX>264</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>BomPartDatalistForBmConfig</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BomConfiguration2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Bom_Part_data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Config_List</name>
        <label>Get Config List</label>
        <locationX>264</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>BomConfigurationCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BomConfiguration4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Bom_Association_List</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>statusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>BOM_Configuration__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create New BOM Configuration {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create New BOM Configuration</label>
    <loops>
        <name>Iterate_Bom</name>
        <label>Iterate Bom</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Bom</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Bom_To_Bom_Configuration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Bom_Configuration_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Bom_Association_List</name>
        <label>Iterate Bom Association List</label>
        <locationX>176</locationX>
        <locationY>1910</locationY>
        <collectionReference>Get_Bom_association_Rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Bm_Association_to_Bm_Config</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bom_Confiduration_Child_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Bom_Part_data</name>
        <label>Iterate Bom Part data</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Bom_Part_Data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_bom_Part_Data_to_Bm_Config</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Bom_Configuration_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Bom_Confiduration_Child_List</name>
        <label>Bom Confiduration Child List</label>
        <locationX>176</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Navigate_to_Detail_Page</targetReference>
        </connector>
        <inputReference>BomConfigurationCollectionVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Bom_Configuration_2</name>
        <label>Bom Configuration 2</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Get_Bom_association_Rec</targetReference>
        </connector>
        <inputReference>BomPartDatalistForBmConfig</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Bom_Configuration_Record</name>
        <label>Create Bom Configuration Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>recordIds</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Bom</targetReference>
        </connector>
        <inputAssignments>
            <field>BOM_Association__c</field>
            <value>
                <elementReference>AssociatedBom.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOM_CON_3D_CAD_URL__c</field>
            <value>
                <elementReference>CAD_URL.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BOM_Configuration_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>BOM_Configuration__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Bom_Configuration_Records</name>
        <label>Create Bom Configuration Records</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_Bom_Part_Data</targetReference>
        </connector>
        <inputReference>FinalListOfBomConfiguration</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Bom</name>
        <label>Get Bom</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Bom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociatedBom.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BOM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bom_association_Rec</name>
        <label>Get Bom association Rec</label>
        <locationX>176</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Bom_Association_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BOMp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociatedBom.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BomAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bom_Part_Data</name>
        <label>Get Bom Part Data</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Bom_Part_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BOM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssociatedBom.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BomPartAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_New_BOM_Configuration</name>
        <label>Create New BOM Configuration</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Bom_Configuration_Record</targetReference>
        </connector>
        <fields>
            <name>Create_New_BOM_Configuration_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_BOM_Configuration_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BOM_Configuration_Name</name>
                    <dataType>String</dataType>
                    <fieldText>BOM Configuration Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AssociatedBom</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>FRGPLM__BOM_Association__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Associated Bom</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>FRGPLM__BOM_Configuration__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_BOM_Configuration_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>statusPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CAD_URL</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>3D CAD Url</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_New_BOM_Configuration_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_BOM_Configuration_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Customfooter</name>
                    <extensionName>FRGPLM:bomConfigurationFooter</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_New_BOM_Configuration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BomConfiguration2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BOM_Configuration_Association__c</objectType>
    </variables>
    <variables>
        <name>BomConfiguration4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BOM_Configuration_Association__c</objectType>
    </variables>
    <variables>
        <name>BomConfigurationCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BOM_Configuration_Association__c</objectType>
    </variables>
    <variables>
        <name>BomPartDatalistForBmConfig</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BOM_Configuration_Association__c</objectType>
    </variables>
    <variables>
        <name>FinalListOfBomConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BOM_Configuration_Association__c</objectType>
    </variables>
    <variables>
        <name>listofBom</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>BOM__c</objectType>
    </variables>
    <variables>
        <name>ListOfBomConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>BOM_Configuration_Association__c</objectType>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
