force-app/main/default/flows/Process_For_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Apex_Action</name>
        <label>Apex Action</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <actionName>ProcessForChangeRequest</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Record_for_Bom_Part_CO</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bomId</name>
            <value>
                <elementReference>BomId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>changeRequestId</name>
            <value>
                <elementReference>Process_for_Change_Requests</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Detail_Page</name>
        <label>Navigate to Detail Page</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <actionName>FRGPLM:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Process_for_Change_Requests</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Value_to_Collection_Single_Variable</name>
        <label>Assign Value to Collection Single Variable</label>
        <locationX>534</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>CollectionVarRLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterating_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionVarRLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_for_Change_Requests</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Var</name>
        <label>Collection Var</label>
        <locationX>534</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CollectionVarRLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterating_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Bom_Id</name>
        <label>Store Bom Id</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>BomId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Item_Issue_Association.BOM_Configurations__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssociatedItemName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Item_Issue_Association.BOM_Configurations__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Page_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Change_Management_Id</name>
        <label>Store Change Management Id</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ChangeRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Item_Issue_Association.Change_Request__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssociatedItemName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Item_Issue_Association.Change_Request__r.Change_Request_Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Page_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StorePartId</name>
        <label>StorePartId</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Item_Issue_Association.Part__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssociatedItemName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Item_Issue_Association.Part__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_Page_Data</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Filter_Path</name>
        <label>Filter Path</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Page_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Part</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Item_Issue_Association.Part__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StorePartId</targetReference>
            </connector>
            <label>Check Part</label>
        </rules>
        <rules>
            <name>Check_BOM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Item_Issue_Association.BOM_Configurations__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Bom_Id</targetReference>
            </connector>
            <label>Check BOM</label>
        </rules>
        <rules>
            <name>Check_Change_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Item_Issue_Association.Change_Request__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Change_Management_Id</targetReference>
            </connector>
            <label>Check Change Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Path_Division</name>
        <label>Path Division</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Create_Record_for_Bom_Part_CO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Bom_Id_not_ull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BomId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Action</targetReference>
            </connector>
            <label>If Bom Id not ull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>changeCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Change_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>priorityList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Change_Request__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Process For Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Process For Change Request</label>
    <loops>
        <name>Iterating_Records</name>
        <label>Iterating Records</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <collectionReference>ContentDocumentVIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_to_Collection_Single_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_File_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Record_For_Bom_Part_Change_Request</name>
        <label>Create Record For Bom Part Change Request</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Path_Division</targetReference>
        </connector>
        <inputAssignments>
            <field>BOM_Configuration__c</field>
            <value>
                <elementReference>BomId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Request__c</field>
            <value>
                <elementReference>Process_for_Change_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part__c</field>
            <value>
                <elementReference>PartId</elementReference>
            </value>
        </inputAssignments>
        <object>BomPartCR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_for_Bom_Part_CO</name>
        <label>Create Record for Bom Part CO</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Iterating_Records</targetReference>
        </connector>
        <inputAssignments>
            <field>BOM_Configuration__c</field>
            <value>
                <elementReference>BomId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Request__c</field>
            <value>
                <elementReference>Process_for_Change_Requests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part__c</field>
            <value>
                <elementReference>PartId</elementReference>
            </value>
        </inputAssignments>
        <object>BomPartCO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Process_for_Change_Requests</name>
        <label>Process for Change Request</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Create_Record_For_Bom_Part_Change_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Associated_BOM__c</field>
            <value>
                <elementReference>BomId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Associated_Part_Number__c</field>
            <value>
                <elementReference>PartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Change_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Change_Request_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>Reason_For_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Save_File_Record</name>
        <label>Save File Record</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Navigate_to_Detail_Page</targetReference>
        </connector>
        <inputReference>ContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Page_Data</name>
        <label>Get Current Page Data</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_For_Change_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Issue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Item_Issue_Association</name>
        <label>Get Item Issue Association</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Path</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Issue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ItemIssueAssociation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Process_For_Change_Request</name>
        <label>Process For Change Request</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Process_for_Change_Requests</targetReference>
        </connector>
        <fields>
            <name>Process_For_Change_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Process_For_Change_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Change_Request_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Change Request Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Change_Category</name>
                    <choiceReferences>changeCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Change Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reason_For_Change</name>
                    <dataType>String</dataType>
                    <fieldText>Reason For Change</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description</name>
                    <dataType>String</dataType>
                    <fieldText>Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Expected_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>UploadFile</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload File</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>pdf,.png,.jpg</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContentDocumentVIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Process_For_Change_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>priorityList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Affected_Items</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AssociatedItemName</elementReference>
                    </defaultValue>
                    <fieldText>Affected Items</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Assignee_Analysis</name>
                    <dataType>String</dataType>
                    <fieldText>Assignee Analysis</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Originator</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Current_Page_Data.Originator__c</elementReference>
                    </defaultValue>
                    <fieldText>Originator</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Item_Issue_Association</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssociatedItemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BomId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChangeRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionVarRLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentVIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
